.user-form {
  width: 300px;
  background: black;
  position: absolute;
  left: 80px;
  top: 30%;
  z-index: 2;
  background: $white;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 0 rgba(0, 0, 0, .02);

  .upload-form {
    padding: 30px 20px;
    cursor: pointer;

    .form-controls {
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      .button-control {
        margin-right: 20px;
      }

      .text-controls {
        flex-grow: 1;
        display: flex;
        line-height: 100%;
        flex-direction: column;


        .select-file {
          font-size: 22px;
          margin-bottom: 8px;
          font-weight: 400;
          color: $gray-800;
        }

        .select-folder {
          font-weight: 300;

          a {
            color: $gray-800;
            text-decoration: underline;
            font-size: 14px;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .upload-button {
      margin-left: 62px;
    }
  }


  input[type=file] {
    display: none;
  }
}


