.transfer {
  width: 320px;
  background: black;
  position: absolute;
  left: 80px;
  top: 30%;
  z-index: 2;
  background: $white;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 0 rgba(0, 0, 0, .02);


  .transfer-action {
    padding: 10px 30px;

    .btn-upload {
      margin-left: 52px;
      display: inline-flex;
      align-items: center;

      .loading {
        margin-right: 6px;
      }
    }
  }

  input[type=file] {
    display: none;
  }
}


