.queue {
  margin-bottom: 10px;
  padding: 0 12px;
  border-bottom: 1px solid $gray-200;
  background: $gray-100;
  max-height: 300px;
  overflow-x: auto;

  .item {
    display: flex;
    padding: 6px 12px;

    .item-info {
      .item-name {
        font-weight: 300;
        font-size: 13px;
      }
    }
  }
}
