.queue {
  margin-bottom: 10px;
  padding: 0 14px;
  border-bottom: 1px solid $gray-200;
  background: $gray-100;
  max-height: 294px;
  overflow-x: auto;

  .item {
    padding: 6px 0;
    position: relative;

    &:not(:last-of-type) {
      border-bottom: 1px solid darken($gray-100, 2);
    }

    .item-name {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 1px;
      color: $gray-900;
    }

    .item-size {
      font-weight: 300;
      font-size: 12px;
      color: $gray-600;
    }

    .item-name, .item-size {
      margin-right: 30px;
    }

    .item-controls {
      position: absolute;
      top: 0;
      right: 10px;
      height: 100%;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .item-control {
        color: $primary;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .item-control-delete {
        display: none;
      }
    }

    &:hover {
      .item-controls {
        .item-control-delete {
          display: block;
        }
      }
    }
  }
}
