.upload-form {
  height: 100px;
  cursor: pointer;
  position: relative;
  line-height: 100%;
  border-bottom: 1px solid $gray-100;
  display: flex;
  align-items: center;
  padding: 0 30px;

  .btn-select-files {
    margin-right: 10px;
  }

  .text-controls {
    flex-grow: 1;

    .select-files {
      font-size: 22px;
      margin-bottom: 6px;
      font-weight: 400;
      color: $gray-800;
    }

    .select-folders {
      color: $gray-800;
      text-decoration: underline;
      font-size: 13px;
      font-weight: 300;

      &:hover {
        color: $primary;
      }
    }

    .select-files, .select-folders {
      display: table;
    }
  }
}
